.infoBox {
  flex: 1;
  cursor: pointer;
}

.infoBox:not(:last-child) {
  margin-right: 15px;
}

.infoBox__cases {
  color: #cc1034;
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
}

.infoBox__total {
  color: #6c757d;
  font-weight: 700 !important;
  font-size: 0.8rem !important;
  margin-top: 15px !important;
}
.infoBox--active {
  border-top: 10px solid #28a745;
}
.infoBox--red {
  border-top: 10px solid #cc1034;
}
.infoBox--grey {
  border-top: 10px solid #6c757d;
}
.infoBox--green {
  border-top: 10px solid #28a745;
}
.infoBox__cases--green {
  color: #28a745 !important;
}
.infoBox__cases--grey {
  color: #6c757d !important;
}
.infoBox__cases--red {
  color: #cc1034 !important;
}
